body {
  margin: 0
}

.content{
  max-width: 720px;
  margin: auto;
  margin-top: 70px;
}

.photo__emotions{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 10px
}

.emotion{
  width: 20px;
  height: 20px;
}